.setupCont .controlRow {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

input {
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: content-box !important;
    max-width: calc(1.2rem * 3);
}

.numberInput {
    height: 100%;
    width: auto;
    margin: 0;
    padding: 0;
    border: none;
    font-size: inherit;
    outline: none;
    margin: 0 5px;
    font-weight: 300;
    text-align: right;
}

.numberInput::-webkit-inner-spin-button {
    margin-left: 5px;
    margin-bottom: -2px;
    opacity: 1;
}

.numberInput::-webkit-inner-spin-button:hover {
    cursor: pointer;
}

.numberInput:last-of-type {
    margin-right: 0;
}

.setupInputCont {
    height: 100%;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.submitInput {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
    font-size: inherit;
    font-weight: inherit;
    text-align: center;
}

.submitInput:hover {
    background-color: rgba(0,0,0,0.1);
    cursor: pointer;
}
